---
layout: layout
---

{{ content }}

  {% if site.posts.size > 0 %}
    <h2>{{ page.list_title | default: "Posts" }}</h2>
    <ul>
      {% for post in site.posts %}
      <li>
        <h3>
          <a href="{{site.baseurl}}{{ post.url }}">
            {{ post.title }}
          </a>
		  {% assign date_format = "%b %-d, %Y" %}
        <span>{{ post.date | date: date_format }}</span>
        </h3>
		{{ post.excerpt | strip_html | truncatewords:75 }}
      </li>
	  <br />
	  {% endfor %}	  
    </ul>

    
  {% endif %}

